@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the .net developer test that consists in: </p>
    <ul>
        <li>Implement a login system</li>
        <li>Implement a search system</li>
        <li>Implement a journal system</li>
    </ul>
    <h3>Current user: @{
                         if (User.Identity.IsAuthenticated)
                         {
                             <text>@User.Identity.Name</text>
                         }
                         else
                         {
                             <text>Not Authenticated</text>
                         }
                     }</h3>
</div>